/* .root{
    background-color: #C6EBC5;
} */

.navbar{
    margin-left: 430px;
    white-space: 10px;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    
}

.background-image{
    background: url(Meditation.jpg);
    opacity: 0.95;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.main1{
    display: flex;
    flex-direction: column;
    vertical-align: baseline;
    /* text-align: ; */
    align-items: center;
    /* background-color: #C6EBC5; */
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
}

.main2{
    font-weight: bolder;
    font-size: larger;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 1cm;
    margin-top: 80px;
}

.main3{
    font-weight: bolder;
    font-size: larger;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 1cm;
    margin-top: 20px;
}

.main4{
    font-weight: bolder;
    font-size: larger;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 1cm;
    margin-top: 20px;
}

.main5{
    font-weight: bolder;
    font-size: larger;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 1cm;
    margin-top: 20px;
    margin-bottom: 300px;
}